@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto:700');

/*General*/
*{
    border: 0;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Lato", Helvetica, sans-serif;
    color: #474545;
    }
/*Header*/
#logo {
    width: 100%;
    height: 100px;
    background-color: rgba(221, 91, 58, 0.8);
   
    }
h1{
    font-family: "Roboto";
    text-transform: uppercase;
    color: #184dde;
    float: left;
    line-height: 100px;
    font-size: 250%;
    letter-spacing: 4px;
    }
#menu {
    list-style-type: none;
    line-height: 100px;
    font-size: 110%;
    letter-spacing: 2px;
}
#menu li {
    float: right;
    margin-right: 20px;
}
#menu a {
    text-decoration: none;
    color: #184dde;
}
#menu a:hover {
    background-color: #184dde;
    color: #e61612;
}
.active {
    border-bottom: 1px solid #184dde;
}
/*Home Section*/
#homeimg {
    background: url("../images/newboilers.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
#homeimg div {
    background-color: rgba(51, 48, 48, 0.5);
    color: #fafafa;
    width: 20%;
    height: 700px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: left;
    margin-left: 8%
}
#homeimg div h2 {
    text-align: center;
}
#homeimg div h5 {
    text-align: center;
    margin-top: 10px;
}
#homeimg div p {
    margin-top: 15px;
}
#ul {
    text-decoration: underline;
    text-transform: uppercase;
}
/*@media screen and (max-width: 1024px ) {

#homeimg div {
    width: 50%;
    float: left;
    padding: 0;
    }
    #homeimg div p {
    text-align: center;
}
#burners div {
    width: 50%;
    float: left;
    padding: 0;
    margin-top: 0;
    height: 500px;
    }

/* controls
#controls div {
    width: 50%;
    float: left;
    padding: 0;
    margin-top: 0;
    height: 500px;
    }

/*steam boilers
#steam-boilers div {
    width: 50%;
    float: left;
    padding: 0;
    margin-top: 0;
    height: 500px;
    }
/* training 
#training-courses div {
    width: 50%;
    float: left;
    padding: 0;
    margin-top: 0;
    height: 500px;
    }
}*/
/*mobile device*/



/*Burners section*/

div ul {
    list-style-type: none;
}



#burners {
    width: 100%;
    background: url("../images/newboilers.jpg") ;
}
#burners div {
    color: #184dde;
    width: 18%;
    height: 500px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: center;
    margin-left: 1% ;
    margin-top: 25px;
}
/*Burners background pics*/
#hilow-pic {
    background: url("../images/hi-low2.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90%;
    min-height: 200px;
    
}
#hilow-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#hilow-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#modulating-pic {
    background: url("../images/modulating.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90%;
    min-height: 200px;
    color: #184dde;
}
#modulating-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#modulating-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#digital-pic {
    background: url("../images/digital.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    color: #184dde;
}
#digital-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#digital-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#process-pic {
    background: url("../images/process2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 60%;
    min-height: 200px;
    color: #184dde;
}
#process-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#process-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#fgr-pic {
    background: url("../images/fgr2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80%;
    min-height: 200px;
    color: #184dde;
}
#fgr-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#fgr-pic ul {
    color: #184dde;
    margin-top: 10px;
}


/*controls section*/
#controls {
    width: 100%;
    background: url("../images/newboilers.jpg") ;
}
#controls div {
    
    color: #474545;
    width: 18%;
    height: 500px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: center;
    margin-left: 1%
}
/*controls background pics*/
#steam-boiler-pic {
    background: url("../images/steam2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
}
#steam-boiler-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#steam-boiler-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#hot-water-pic {
    background: url("../images/hot-water.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
}
#hot-water-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#hot-water-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#cascade-pic {
    background: url("../images/cascade.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 60%;
    min-height: 200px;
}
#cascade-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#cascade-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#bms-pic {
    background: url("../images/remote2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90%;
    min-height: 200px;
}
#bms-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#bms-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#remote-pic {
    background: url("../images/remotec.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90%;
    min-height: 200px;
}
#remote-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#remote-pic ul {
    color: #184dde;
    margin-top: 10px;
}


/*Steam section*/

#steam {
    width: 100%;
    background: url("../images/newboilers.jpg") ;
}
#steam div {
    
    color: #474545;
    width: 18%;
    height: 400px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: center;
    margin-left: 1%
}
/*steam background pics*/
#operator-pic {
    background: url("../images/operator.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80%;
    min-height: 200px;
}
#operator-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#operator-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#water-treatment-pic {
    background: url("../images/treatment.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70%;
    min-height: 200px;
}
#water-treatment-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#water-treatment-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#hot-well-pic {
    background: url("../images/water-treatment.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70%;
    min-height: 200px;
}
#hot-well-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#hot-well-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#inspection-pic {
    background: url("../images/inspection2.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80%;
    min-height: 200px;
}
#inspection-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#inspection-pic ul {
    color: #184dde;
    margin-top: 10px;
}
#ndt-pic {
    background: url("../images/ndt.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80%;
    min-height: 200px;
}
#ndt-pic h2 {
    margin-top: 70%;
   color: #184dde; 
   
}
#ndt-pic ul {
    color: #184dde;
    margin-top: 10px;
}


/*training courses section*/

.register-form {
margin-top:50px;
color:#fff;
/*background-color: rgba(60,60,60, 0.6);*/
max-width: 300px;
position: absolute;

}


.text-input {
  background-color: transparent;
  color: #fafafa;
  width: 95%;
  height: 25px;
  margin: 5px 0px 20px 0px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
.text-input:hover{
  border-color: #184dde;
}


#training-courses {
    background: url("../images/indblr.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
#training-courses div {
    background-color: rgba(188, 206, 233, 0.5);
    color: #fafafa;
    width: 20%;
    height: 600px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: center;
    margin-left: 8%;
}
#training-courses div h2 {
    text-align: center;
}
#training-courses div h5 {
    text-align: center;
    margin-top: 10px;
}
#training-courses div p {
    margin-top: 15px;
}
.submit{
  margin-top: 20px;
  margin-left: 35%;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-size: 100%;
  background-color: #e61612;
  color: #fafafa;
  display: block;
}
.submit:hover{
  background-color: #184dde;
  color: #e61612;
}
.training-form {
margin-top:50px;
color:#fff;
/*background-color: rgba(33, 61, 224, 0.5);*/
max-width: 300px;

text-align: left;

}
/*Footer*/
footer{
    height: 150px;
    width: 100%;
    }
.social-media {
    text-align: center;
}
.social-media li{
    display: inline;
    }
.social-media i {
        font-size: 150%;
        margin: 1%;
        padding: 1%;
        color: #184dde;
    }
@media screen and (max-width:943px){
/* header*/
#logo {
    background-color: rgba(255, 251, 251, 0.178);
    width: 70%;
}
#logo h1 {
    text-align: center;
}
#menu li {
    clear: left;
    display: inline-block;
    margin-left: 10px;
}
#homeimg {
    width: 100%;
    height: 1500px;
    margin: 0 auto;
}
#homeimg div {
    width: 90%;
    
    padding: 0;
    margin-top: 10;
    height: 500px;
    }
#homeimg div p {
    text-align: center;
}

/* burners*/
#burners div {
    width: 90%;
    float: left;
    padding: 0;
    margin-top: 10;
    height: 500px;
    color: red;
    }

/* controls*/
#controls div {
    width: 90%;
    float: left;
    padding: 0;
    margin-top: 10;
    height: 500px;
    }

/*steam boilers*/
#steam div {
    width: 90%;
    float: left;
    padding: 0;
    margin-top: 10;
    height: 500px;
    }
/* training */
#training-courses div {
    width: 80%;
    float: left;
    padding: 0;
    margin-top: 10px;
    height: 550px;
    }


}








