@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto:700');

/*General*/
*{
    border: 0;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Lato", Helvetica, sans-serif;
    color: #474545;
    }
/*Header*/
h1{
    font-family: "Roboto";
    text-transform: uppercase;
    color: #184dde;
    float: left;
    line-height: 100px;
    font-size: 250%;
    letter-spacing: 6px;
    }
#menu {
    list-style-type: none;
    line-height: 100px;
    font-size: 110%;
    letter-spacing: 3px;
}
#menu li {
    float: right;
    margin-right: 20px;
}
#menu a {
    text-decoration: none;
    color: #184dde;
}
#menu a:hover {
    background-color: #184dde;
    color: #e61612;
}
.active {
    border-bottom: 1px solid #184dde;
}
/*Home Section*/
#homeimg {
    background: url("../images/indblr.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
#homeimg div {
    background-color: rgba(51, 48, 48, 0.5);
    color: #fafafa;
    width: 20%;
    height: 700px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: left;
    margin-left: 8%
}
#homeimg div h2 {
    text-align: center;
}
#homeimg div h5 {
    text-align: center;
    margin-top: 15px;
}
#homeimg div p {
    margin-top: 15px;
}
#ul {
    text-decoration: underline;
    text-transform: uppercase;
}
/*Burners section*/

#burner-headings {
    width: 100%;
}
#burner-headings div {
    
    color: #184dde;
    width: 18%;
    height: 50px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: center;
    margin-left: 1%
}

#burners {
    width: 100%;
}
#burners div {
    
    color: #474545;
    width: 18%;
    height: 200px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: left;
    margin-left: 1%
}
/*Burners background pics*/
#hilow-pic {
    background: url("../images/hilow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
#modulating-pic {
    background: url("../images/modulating.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
}
#digital-pic {
    background: url("../images/digital.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
}
#process-pic {
    background: url("../images/process.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
}
#fgr-pic {
    background: url("../images/fgr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
#dualfuel-pic {
    background: url("../images/dualfuel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
/*controls section*/
#controls {
    width: 100%;
}
#controls div{
    background-color: rgba(224, 28, 28, 0.5);
    color: #fafafa;
    width: 18%;
    height: 200px;
    float: left;
    padding: 20px 0 0 10px;
    text-align: left;
    margin-left: 1%
}


/*Footer*/
footer{
    height: 150px;
    }
.social-media {
    text-align: center;
}
.social-media li{
    display: inline;
    }
.social-media i {
        font-size: 150%;
        margin: 1%;
        padding: 1%;
        color: #184dde;
    }




